.box {
  font-size: 12px;
  box-shadow: 0 0 10px #ececec;
  padding: 20px;
  .count {
    display: flex;
    align-items: baseline;
    .value {
      font-size: 23px;
    }
  }
  .name {
    font-size: 14px;
    margin-top: 5px;
  }
}